body {
  background-color:#B8C67F;
  padding: 20px;
  margin: 0;
}
h1, h2, h3, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #566805;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #566805;
  border-radius: 15px;
  padding: 15px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content h3 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}





